@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  .title {
    @apply text-3xl lg:text-4xl text-center text-[#191919] uppercase;
  }
  .aboveTitle {
    @apply -mb-6 text-6xl lg:text-7xl text-center font-thin text-gray-200 italic;
  }
  .subtitle {
    @apply text-4xl text-center underline underline-offset-8 text-[#191919];
  }
}

@layer components {
  .card {
    @apply p-2 md:max-w-[360px] md:px-6;
  }

}
